.logo {
    width: 10em;
}

body {
    background: white;
}
header{
    background:white;
    color:white;
    display: flex;
    height: 100px;
    background-size:cover;
    background-repeat: no-repeat;
}

section{
    margin-top: auto;
    padding: 40px;
    display: flex;
    height: 300px;
    flex-direction: row;
}

footer{
    padding: 10px;
    text-align: center;
}

svg{
    transition: all 0.6s;  
}

svg:hover{
    transform: scale(1.4);  
}

div.grid {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
div.grid-item {
    margin-bottom: 20px;
    margin-top: 100px;
}
/* 大屏幕 ：大於等於1200px*/
@media (min-width: 1200px) {

}

/*默認*/
@media (min-width: 980px){

}

/* 平板電腦和小屏電腦之間的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {

}

/* 橫向放置的手機和豎向放置的平板之間的分辨率 */
@media (max-width: 767px) {

}

/* 橫向放置的手機及分辨率更小的設備 */
@media (max-width: 480px) {

}